@import url("https://use.typekit.net/jmk3xov.css");
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
body {
  background-image: url('../space/space.jpg');
}


 /* header {
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;

    margin-bottom: var(--spacing);
    color: red;
  }*/
.non3d {
  grid-column: 2 / span 5;
  margin-bottom: 60px;
  color: red
}
  section {
    grid-column: 2 / 8;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(0, 0, 0, .8);
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);    
  
  }
  
  
  blockquote p {
    color: red;
    background-color: rgb(12, 11, 11, );
    
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }
/*Contact Card*/
.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid red;
}
.fa {
  padding: 20px;
  font-size: 60px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 8px 20px;
}
.fa:hover {
  opacity: .7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
  position: relative;
  right: 110px;
  top: 30px  
}

  

.fa-linkedin {
  background: #0d0d0e;
  color: rgb(15, 0, 230);
  border-radius: 50%;
  position: relative;
  right: 300px;
  top: 200px;
}
.fa-instagram {
  background-color: #f3f2f1;
  color: rgb(8, 8, 8);
  border-radius: 50%;
  position: relative;
  right: 330px;
  top: 140px;
}
.fa-github {
  background-color: white;
  color: black;
  border-radius: 50%;
  position: relative;
  right: 60px;
  bottom: 50px;
}
.keaton{
  animation: glitch 1s linear infinite;
  position: relative;
  right: 180px;
  font-size: 20px;
  text-decoration: underline red;
}
.website {
  position: relative;
  right: 150px;
  top: 20px;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.keaton:before,
.keaton:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.keaton.keaton:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}