body {
    background-image: url(../space/space.jpg);
    color: white;
}
.download {
    font-size: 40px;
    border: 1px solid red;
    width: fit-content;
}
.header {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
}
.es {
    text-align: center;
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.wd {
    text-align: center;
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.navy{
    text-align: center;
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.norris {
    text-align: center;
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.cci {
    text-align: center;
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.edu {
    text-align: center;
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}